/* Start  Variables */

:root {
  --color-player-one: #26A2FF;
  --color-player-two: #FF2688;
  --transition-duration: .2s;
}

/* End  Variables */
/* Start Components */
button {
  border: none !important;
  background-color: gold;
  padding: calc(var(--width) / 60) calc(var(--width) / 10);
  border-radius: calc(var(--width) / 20);
  box-shadow: 0px 2px 2px 0px #00000029;
  transition: var(--transition-duration);
  font-size: calc(var(--width) / 20);
}
button:active {
  transform: scale(0.9);
  box-shadow: 0px 0px 0px 0px #00000029;
}
/* End Components */

/* Start Global Rule */



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}



ul {
  list-style: none;
}

body {
  font-family: "work-sans";
  font-weight: 500;
  background-color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding: 0px 15px; */

}

@media (max-width: 600px) {
  .container {
    --width: calc(100vw - 30px);
  }
}

/* Small Screens */

@media (min-width: 768px) {
  .container {
    --width: 750px;
  }
}

/* Medium Screens */

@media (min-width: 992px) {
  .container {
    --width: 970px;
  }
}

/* Large Screens */

@media (min-width: 1200px) {
  .container {
    --width: 1170px;
  }
}

/* End Global Rule */

/* start The start controls */
.container {
  width: var(--width);
  height: 100vh;
  display: flex;
  align-items: center;
}
.start-game .start-controls {
  background: #126E9F;
}
.start-game .start-controls .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vmax;
  

}

.start-game .start-controls .container .home-image {
  width: calc(var(--width) /1.5);
  height: calc(var(--width) / 1.5);
  background-image: url("../images/home.jpg");
  background-size: cover;

}
.start-game .start-controls button {
  background-color: #E20000;
  color: white;
  width: 30vmax;
  height: 8vmax;
  border-radius: 5vmax;
  font-weight: bold;
  font-size: 3vmax;
  transition: transform var(--transition-duration);
}



/* End The start Controls */
/* start new game */
.new-game {
  display: none;
}

.new-game .container {
  font-size: calc(var(--width) / 28);
  flex-direction: column;
  justify-content: center
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.players>div {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--width) / 20);
}

.players>div .icon.x {
  background-color: var(--color-player-one);
}

.players>div .icon.o {
  background-color: var(--color-player-two);
}

.players>div .icon {
  position: relative;
}

.players>div .icon.x::before {
  content: "";
  position: absolute;
  left: 50%;
  width: calc(var(--width) / 14);
  height: 100%;
  background-color: #fff;
  transform: translateX(-50%) rotate(45deg);
}

.players>div .icon.x::after {
  content: "";
  position: absolute;
  left: 50%;
  width: calc(var(--width) / 14);
  height: 100%;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}

.players>div .icon.o::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(var(--width) / 8);
  height: calc(var(--width) / 8);
  border: calc(var(--width) / 14) solid #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.players>div .name input {
  width: 100%;
  display: block;
}

.players>div .name span {
  display: inline-block;
  color: red;
  margin-top: calc(var(--width) / 40);
}

.players>div .name input {
  outline: none;
  border: solid 1px #222;
  padding: 5px;
  box-shadow: 0px 2px 2px 0px #0000003D;
}

.players>div .name input:focus {
  box-shadow: 0px 0px 0px 0px #0000003D;
}

.players>div .icon {
  width: calc(var(--width) / 3);
  height: calc(var(--width) / 3);
  background-color: #eee;
}

.players>div .colors {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, calc(var(--width) / 12));
  height: calc(var(--width) / 12);
  justify-content: space-between;
  gap: calc(var(--width) / 50);
  overflow: auto;

}

.players>div .colors li {
  height: 100%;
  background-color: #222;
  display: inline-block;
  transition: var(--transition-duration)
}

.players>div .colors li.active {
  border-radius: 50%;
  border: calc(var(--width) / 200) solid #222;
}

.players>div .colors li:first-child {
  background-color: #26A2FF;
}

.players>div .colors li:nth-child(2) {
  background-color: #FF2688;
}

.players>div .colors li:nth-child(3) {
  background-color: #FFC026;
}

.players>div .colors li:last-child {
  background-color: #D426FF;
}


.new-game-controls {
  margin-top: calc(var(--width) / 10);
  display: flex;
  justify-content: center;
  gap: calc(var(--width) / 8);
  align-items: center;
  height: calc(var(--width) / 8);

}



/* end new game */

/* start main game */
.main-game {
  display: none;
}

.main-game .container {
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.main-game .player-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: calc(var(--width) / 20);
  font-weight: bold;
}

.main-game .player-info>div {
  text-align: center;
  color: #9F9F9F;
}

.main-game .player-info>div.turn-x {
  color: var(--color-player-one);
}

.main-game .player-info>div.turn-o {
  color: var(--color-player-two);
}

.main-game .game {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,
      calc((var(--width) - 30px) / 3));
  grid-template-rows: repeat(3,
      calc((var(--width) - 30px) / 3));
  gap: 10px;


}

.main-game .game .col {
  background-color: #eee;
  border: calc(var(--width) / 200) solid #222;
  position: relative;
}

.main-game .game .col.active-x::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 5vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.main-game .game .col.active-x::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 5vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.main-game .game .col.x {
  background-color: var(--color-player-one);
}

.main-game .game .col.active-o::before {
  content: "";
  position: absolute;
  border: 5vw solid #fff;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-game .game .col.o {
  background-color: var(--color-player-two);
}


/* end main game */
/* start choose-game */
.choose-game {
  display: none;
  
}

.choose-game .container {
  padding: calc(var(--width) / 20) 0px;
  flex-direction: column;
  gap: calc(var(--width) / 20);
}


.choose-game .container .no-data {
  display: none;
  width: 100%;
  background-color: #eee;
  text-align: center;
  padding: calc(var(--width) / 80);
  font-size: calc(var(--width) / 20);
}

.played-games {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(var(--width) / 10);
  font-size: calc(var(--width) / 28);
  border: 2px solid #222;
  
}

.played-games .color {
  width: calc(var(--width) / 10);
  height: 100%;
}

.played-games .color.one {
  background-color: var(--color-player-one);
}

.played-games .color.two {
  background-color: var(--color-player-two);
}

.data-players {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #42445A63;
  
}
.data-players .container {
  width: 100%;
  height: fit-content;
  background-color: #fff;
}
.data-players .container>div {
  padding: 0px calc(var(--width) / 12);
  width: var(--width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-players .container>div>* {
  border-bottom: 2px solid #222;
  text-align: center;
  padding: calc(var(--width) / 80);
  width: calc(var(--width) / 4);
}

.data-players .container .icons {
  height: calc(var(--width) / 4);
}

.data-players .container .icons .x {
  width: calc(var(--width) / 4);
  height: 100%;
  background-color: var(--color-player-one);
  position: relative;
}

.data-players .container .icons .x::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: calc(var(--width) / 20);
  height: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.data-players .container .icons .x::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: calc(var(--width) / 20);
  height: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.data-players .container .icons .o {
  width: calc(var(--width) / 4);
  height: 100%;
  background-color: var(--color-player-two);
  position: relative;
}

.data-players .container .icons .o::before {
  content: "";
  position: absolute;
  border: calc(var(--width) / 20) solid #fff;
  width: calc(var(--width) / 10);
  height: calc(var(--width) / 10);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.data-players .container .date {
  justify-content: center;
}

/* end choose-game */
/* start game end */
.app {
  position: relative;
}

.game-end {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.game-end .overly {
  width: 100%;
  height: 100%;
  background-color: #0000009C;
}

.end-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: var(--width);
  gap: calc(var(--width) / 12);
}

.end-content .winner {
  width: 50%;
  height: 50%;
}

.end-content .winner>div {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

.end-content .winner .x-winner {
  background-image: url("../images/x-winner.jpg");
  background-size: cover;
}


.end-content .winner .o-winner {
  background-image: url("../images/o-winner.jpg");
  background-size: cover;
}

.end-content .winner .tie{
  background-image: url("../images/tie.jpg");
  background-size: cover;
}
.end-content .winner .x-winner.active-x,
.end-content .winner .o-winner.active-o ,
.end-content .winner .tie.active{
  display: block;
}

.end-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(var(--width) / 16);
  gap: calc(var(--width) / 14);
}

/* end game end */